.sendForm {
    display: flex;
    align-items: center;
    margin: 15px auto;
}

.textarea {
    all: unset;
    background: #eeeeee;
    border-radius: 35px;
    margin-right: 20px;
    padding: 15px 35px;
    overflow: hidden;
    width: 350px;
}

.button {
    all: unset;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    border-radius: 35px;
    padding: 7px 35px;
    color: white;

}

.button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f7ede2 0%, #d10000 100%);

}

.button:active {

}
